{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ article.title|striptags }}{% endblock %}
{% block content %}
    <section class="sub-page container">
        <article class="article">
            <header>
                <div class="meta-data">
                    <h3><a href="{{ SITEURL }}/{{ article.url }}" >{{ article.title }}</a></h3>

                    <p class="author">
                        <time datetime="{{ article.date.isoformat() }}" >{{ article.locale_date }}</time>
                    </p>

                    <div class="socbtn">
                        <span class="share"><i class="icon-share"></i></span>
                        <div class="popup">
                            <a class="share--googleplus" href="#"><i class="icon-gplus-circled"></i></a>
                            <a class="share--twitter" href="#"><i class="icon-twitter-circled"></i></a>
                            <a class="share--facebook" href="#"><i class="icon-facebook-circled"></i></span></a>
                        </div>
                    </div>
                </div>
            </header>

            <div class="entry-content" id="info">
      {{ article.content }}
    </div><!-- /.entry-content -->
                <footer>
				{% include 'taglist.html' %}
            </footer>
 				{% include 'comments.html' %}

  </article>
</section>
{% endblock %}
