{% extends "base.html" %}
{% block title %}{{ SITENAME }} - Etiketler {% endblock %}
{% block content %}
	<section class="sub-page container">
		<article class="article">
			<header>
				<div class="meta-data">
					<h3>Tags for {{ SITENAME }}</h3>
				</div>
			</header>
			<div class="entry-content" id="info">
				<ul style="text-align: center;">
				{% for tag, articles in tags|sort %}
					<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
				{% endfor %}
				</ul>
			</div>
		</article>
	</section>
{% endblock %}
